<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>Achievement</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerSTEM" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                   Name of Achievement
                </h1>
                <p>
                    Subtitle
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>
    </body>
</html>