<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>Eagle Scout</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerEagle" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}#AchievementAnchor">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                   Eagle Scout
                </h1>
                <p>
                    Achieved in 2018
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>

        <!--Description-->
        <section class="summary">
            <div class="row">
                <div class="description-col">
                    <img src="../static/css/images/STEM/Trophy.jpg" alt="Trophy Photo">
                </div>
                <div class="description-col">
                    <p>
                        Eagle Scout is the highest achievement or rank attainable in the Scouts BSA program of the Boy Scouts of America (BSA). The Eagle Scout must demonstrate Scout Spirit, an ideal attitude based upon the Scout Oath and Law, service, and leadership. This includes an extensive service project that the Scout plans, organizes, leads, and manages. 
                        <br> <br> I have been apart of scouts my entire life. For 12 years, scouting shaped my childhood, teaching me the values, morals, and perspectives I have today. I participated in numerous scouting activities, including camping, backpacking, scuba diving, canoeing, and most importantly, service projects.
                        Scouting teaches you not only how to be a leader, but how to be a follower as well. The 12 points of the scout law include, but are not limited to, <strong>trustworthiness, loyalty, and obedience.</strong> 
                        <br> <br> In 2018, I achieved the rank of Eagle Scout after years and years of advancement and dedication. My service project was to construct a tool shed for my local town's community garden, and the project took over 80 man-hours of labour in total. 
                        <br> <br> I would not be where I am today if it weren't for the scout leaders and friends who helped me along the way. Their guidance has been an inspiration, proving to me the value of helping others.
                    </p>
                </div>
            </div>
        </section>

        <!--Photo Gallery-->
        <section class="photoGallery">
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/Anders.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Scuba Diving in Malta (2018)</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/Ridgeway2.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>The Ridgeway (2019)</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/OA.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Order of the Arrow Ceremony (2018)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/Ridgeway.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Backpacking Along The Ridgeway (2019)</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/VentureCrew.JPG" alt="">
                    <div class="photoGalleryLayer">
                        <p>Our Ventrue Crew (2019)</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/Normandy.jpeg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Normandy Beach (2019)</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>