<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>Tutorial Website</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:wght@100;200&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    </head>
    <body>

        <!--Home Page Section-->
        <section class = "header">
            <nav>
                <a href = "index.html">
                    <img src = "static/css/images/icons/enchant-acid-1.png">
                </a>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="">HOME</a>
                        </li>
                        <li>
                            <a href="{{ url_for('about') }}">ABOUT</a>
                        </li>
                        <li>
                            <a href="">CLASSES</a>
                        </li>
                        <li>
                            <a href="">BLOG</a>
                        </li>
                        <li>
                            <a href="">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <div class= "text-box">
                <h1>
                    Tutorial Website
                </h1>
                <p>
                    Tutorial website to learn HTML and CSS. <br>
                    Amogus.
                    This was added as an extra.
                </p>
                <a href = "" class = "hero-btn">Link test</a>
            </div>
        </section>


        <!--Classes Section-->
        <section class ="classes">
            <h1>Classes We Offer</h1>
            <p>
                Random small text
            </p>

            <div class = "row">
                <div class = "classes-col">
                    <h3>Knight</h3>
                    <p>
                        Random small text
                    </p>
                </div>
                <div class = "classes-col">
                    <h3>Thief</h3>
                    <p>
                        Random small text
                    </p>
                </div>
                <div class = "classes-col">
                    <h3>Giant Mecha Pilot</h3>
                    <p>
                        Random small text
                    </p>
                </div>
            </div>
        </section>


        <!--Ability Section-->
        <section class = "ability">
            <h1>Abilities</h1>
            <p>Random text</p>
            <div class = "row">
                <div class = "ability-col">
                    <img src="static/css/images/icons/fireball-sky-3.png">
                    <div class="layer">
                        <h3>FIREBALL</h3>
                    </div>
                </div>
                <div class = "ability-col">
                    <img src="static/css/images/icons/heal-jade-3.png">
                    <div class="layer">
                        <h3>HEAL</h3>
                    </div>
                </div>
                <div class = "ability-col">
                    <img src="static/css/images/icons/protect-blue-3.png">
                    <div class="layer">
                        <h3>PROTECT</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- Droids Section-->
        <section class="droids">
            <h1>Our Droids</h1>
            <p>
                These are not the droids you are looking for.
            </p>
        </section>
        <!-- Javascript for toggle feature-->
        <script>

            var navLinks = document.getElementById("navLinks");
            
            function showMenu(){
                navLinks.style.right = "0";
            }

            function hideMenu(){
                navLinks.style.right = "-200px";
            }

        </script>
    </body>
</html>