<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>Daniel Wilcox</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>

        <!--Home Page Section-->
        <section class = "header" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="#HomeAnchor">HOME</a>
                        </li>
                        <li>
                            <a href="#AboutAnchor">PROFILE</a>
                        </li>
                        <li>
                            <a href="#AchievementAnchor">ACHIEVEMENTS</a>
                        </li>
                        <li>
                            <a href="#SkillsAnchor">SKILLSET</a>
                        </li>
                        <li>
                            <a href="#LinksAnchor">LINKS</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            
            <!-- Main text box -->
            <div class= "text-box">
                <h1>
                    Daniel Wilcox
                </h1>
            </div>
            <div class="smallText">
                <p>Photo by: Casper Webb</p>
            </div>
        </section>


        <!--About Section-->
        <section class ="about" id = "AboutAnchor">
            <h1>Profile</h1>
            <p>
                Prosepctive Computer Science Undergraduate
            </p>
            <div class="row">
                <div class="about-col">
                    <div class="aboutParagraph">
                        <h3>About Me</h3>
                        <p>
                            I am passionate about mathematics and programming. Throughout high school, academics have 
                            been my primary focus, but I've also spent my free time in STEM clubs and competitions. 
                            Currently, I'm tutoring students in math as a part-time job, with demonstrated improvement 
                            in grades over the past few months. I'm looking forward to studying computer science at university, 
                            but in the meantime, I'm working at various internships and jobs during my gap year.
                            <br><br>Below you can find out much more information about me, what I have done, and how to get in 
                            touch. Thank you for visiting!
                        </p>
                    </div>
                </div>
                <dive class="about-col">
                    <img src="static/css/images/profiles/ProfilePicture.jpeg" alt="Picture of a very handsome young man.">
                </dive>
                <div class="about-col">
                    <div class="infoList">
                        <ul>
                            <li>
                                <p><strong>Name: </strong> Daniel Wilcox</p>
                            </li>
                            <li>
                                <p><strong>Age: </strong> 18</p>
                            </li>
                            <li>
                                <p><strong>Location: </strong> London, England</p>
                            </li>
                            <li>
                                <p><strong>Interests: </strong> Snowboarding, Rock Climbing,<br><br> Music (Clarinet), Cooking</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!--Achievement Section-->
        <section class = "achievement" id = "AchievementAnchor">
            <h1>Achievements and Awards</h1>
            <p>Click For More Info</p>
            <div class = "row">
                <div class = "achievement-col">
                    <a href="{{url_for('stem')}}">
                        <img src="static/css/images/STEM/Presentation2.jpg">
                        <div class="layer">
                            <h3>4x4 in Schools STEM Competition<br>- 1st Place Prize -</h3>
                        </div>
                    </a>
                </div>
                <div class = "achievement-col">
                    <a href="{{url_for('eagle')}}">
                        <img src="static/css/images/Scouts/Eagles2.jpeg">
                        <div class="layer">
                            <h3>Eagle Scout<br>- 2018 -</h3>
                        </div>
                    </a>
                </div>
                <div class = "achievement-col">
                    <a href="{{url_for('satro')}}">
                        <img src="static/css/images/SATRO/CoverPhoto.png">
                        <div class="layer">
                            <h3>2020 SATRO Research<br>Program<br>- "Why Make Transistors<br>Smaller?" -</h3>
                        </div>
                    </a>
                </div>
                <div class = "achievement-col">
                    <a href="{{url_for('nhs')}}">
                        <img src="static/css/images/NHS/Gang2.jpeg">
                        <div class="layer">
                            <h3>National Honor Society<br>- ACS Cobham -</h3>
                        </div>
                    </a>
                </div> 
            </div>
            <!--Row 2-->
            <div class="row">
                
            </div>
        </section>

        <!--Skills Section-->
        <section class="skills" id = "SkillsAnchor">
            <h1>My Skillset</h1>
            <p>
                
            </p>
            <div class="row">
                <div class="skills-col">
                    <img src="static/css/images/skills/Python.png">
                    <h3>Python</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="skills-col">
                    <img src="static/css/images/skills/Java.png">
                    <h3>Java</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="skills-col">
                    <img src="static/css/images/skills/ArduinoLogo.png">
                    <h3>Arduino</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="skills-col">
                    <img src="static/css/images/skills/Calculus.jpg">
                    <h3>Calculus</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="skills-col">
                    <img src="static/css/images/skills/Mandarin.png">
                    <h3>Mandarin Chinese</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="skills-col">
                    <img src="static/css/images/skills/FirstAidCPR.png">
                    <h3>First Aid and CPR</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
        </section>

        <!--Links-->
        <section class="links" id = "LinksAnchor">
            <h1>Links and Documents</h1>
            <div class="row">
                <div class="links-col">
                    <a href="https://github.com/DWilcox02">
                        <img src="static/css/images/Links/Github.png">
                        <div>
                            <h3>Github</h3>
                            <p>
                                See all of the projects I have been working on
                            </p>
                        </div>
                    </a>
                </div>
                <div class="links-col">
                    <a href="https://www.linkedin.com/in/daniel-wilcox-24902">
                        <img src="static/css/images/Links/LinkedIn.png">
                        <div>
                            <h3>LinkedIn</h3>
                            <p>
                                Feel free to add me as a contact
                            </p>
                        </div>
                    </a>
                </div>
                <div class="links-col">
                    <a href="static/css/files/Daniel_Wilcox_CV.pdf" download>
                        <img src="static/css/images/Links/Document.png">
                        <div>
                            <h3>CV</h3>
                            <p>
                                CV (PDF download)
                            </p>
                        </div>
                    </a>
                </div>
                <div class="links-col">
                    <a href="mailto:danielgwilcox@gmail.com">
                        <img src="static/css/images/Links/Email.png">
                        <div>
                            <h3>Email</h3>
                            <p>
                                danielgwilcox@gmail.com
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!--Call To Action-->
        <!--
            <section class="cta">
                <div class="ctaText">
                    <h1>Play Now</h1>
                </div>
                <a href="" class="hero-btn">Link</a>
            </section>
        -->

        <!--Footer-->
        <section class="footer">
            <h4>Thank You For Visiting</h4>
            <p>Made by Daniel Wilcox</p>
        </section>

        <!-- Javascript for toggle feature-->
        <script>

            var navLinks = document.getElementById("navLinks");
            
            function showMenu(){
                navLinks.style.right = "0";
            }

            function hideMenu(){
                navLinks.style.right = "-200px";
            }

        </script>
    </body>
</html>