<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>Daniel Wilcox</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>

        <!--Home Page Section-->
        <section class = "header">
            <nav>
                <a href = "index.html">
                    <img src = "static/css/images/weapon/demon_blade.png">
                </a>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="">HOME</a>
                        </li>
                        <li>
                            <a href="#AboutAnchor">ABOUT</a>
                        </li>
                        <li>
                            <a href="#AchievementAnchor">ACHIEVEMENTS</a>
                        </li>
                        <li>
                            <a href="">DROIDS</a>
                        </li>
                        <li>
                            <a href="">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            
            <!-- Main text box -->
            <div class= "text-box">
                <h1>
                    Daniel Wilcox
                </h1>
            </div>
        </section>


        <!--About Section-->
        <section class ="about" id = "AboutAnchor">
            <h1>Profile</h1>
            <p>
                Prosepctive Computer Science Undergraduate
            </p>
            <div class="row">
                <div class="about-col">
                    <div class="aboutParagraph">
                        <h3>About Me</h3>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>
                <dive class="about-col">
                    <img src="static/css/images/profiles/ProfilePicture.jpeg" alt="Picture of a very handsome young man.">
                </dive>
                <div class="about-col">
                    <div class="infoList">
                        <ul>
                            <li>
                                <p><strong>Name: </strong> Daniel George Wilcox</p>
                            </li>
                            <li>
                                <p><strong>Age: </strong> 18</p>
                            </li>
                            <li>
                                <p><strong>Location: </strong> London, England</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!--Achievement Section-->
        <section class = "achievement" id = "AchievementAnchor">
            <h1>Achievements and Awards</h1>
            <p></p>
            <div class = "row">
                <div class = "achievement-col">
                    <a href="">
                        <img src="static/css/images/STEM/Trophy.jpg">
                        <div class="layer">
                            <h3>4x4 in Schools STEM Competition 1st Place Prize</h3>
                        </div>
                    </a>
                </div>
                <div class = "achievement-col">
                    <img src="static/css/images/icons/heal-jade-3.png">
                    <div class="layer">
                        <h3>HEAL</h3>
                    </div>
                </div>
                <div class = "achievement-col">
                    <img src="static/css/images/icons/protect-blue-3.png">
                    <div class="layer">
                        <h3>PROTECT</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- Droids Section-->
        <section class="droids">
            <h1>Our Droids</h1>
            <p>
                These are not the droids you are looking for.
            </p>
            <div class="row">
                <div class="droids-col">
                    <img src="static/css/images/droids/IG.png">
                    <h3>IG Droid</h3>
                    <p>
                        Random small text
                    </p>
                </div>
                <div class="droids-col">
                    <img src="static/css/images/droids/Astro_C.png">
                    <h3>Astro C Droid</h3>
                    <p>
                        Random small text
                    </p>
                </div>
                <div class="droids-col">
                    <img src="static/css/images/droids/Probe.png">
                    <h3>Probe Droid</h3>
                    <p>
                        Random small text
                    </p>
                </div>
            </div>
        </section>

        <!--Tips-->
        <section class="tips">
            <h1>Tips for new players</h1>
            <p>Random small text</p>

            <div class="row">
                <div class="tips-col">
                    <img src="static/css/images/food/grape.png">
                    <div>
                        <p>
                            Eat grape to get big strong muscles
                        </p>
                        <h3>Grape</h3>
                    </div>
                </div>
                <div class="tips-col">
                    <img src="static/css/images/weapon/broad_axe2.png">
                    <div>
                        <p>
                            Use axe to massacre conservatives
                        </p>
                        <h3>Axe</h3>
                    </div>
                </div>
            </div>
        </section>

        <!--Call To Action-->
        <section class="cta">
            <div class="ctaText">
                <h1>Play Now</h1>
            </div>
            <a href="" class="hero-btn">Link</a>
        </section>

        <!--Footer-->
        <section class="footer">
            <h4>Contact</h4>
            <a href="https://www.linkedin.com/in/daniel-wilcox-24902">
                <div class="icons">
                    <img src="static/css/images/linkedIn.png" alt="">
                </div>
            </a>
            <p><p>danielgwilcox@gmail.com</p></p>
            <p>Made by Daniel Wilcox</p>
        </section>

        <!-- Javascript for toggle feature-->
        <script>

            var navLinks = document.getElementById("navLinks");
            
            function showMenu(){
                navLinks.style.right = "0";
            }

            function hideMenu(){
                navLinks.style.right = "-200px";
            }

        </script>
    </body>
</html>