<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>NHS</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerNHS" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}#AchievementAnchor">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                   National Honour Society
                </h1>
                <p>
                    ACS Cobham Chapter
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>

        <!--Description-->
        <section class="summary">
            <div class="row">
                <div class="description-col">
                    <img src="../static/css/images/NHS/Logo.png" alt="">
                </div>
                <div class="description-col">
                    <p>
                        The National Honor Society (NHS) is a nationwide organization for high school students in the United States and outlying territories. Selection is based on four criteria: scholarship (academic achievement), leadership, service, and character. 
                        <br><br> To get into and stay a member of the NHS, strong academic performance is required. I achieved the "Head of Schools" award, the highest award to recognise academic ability, six semesters in a row. As a result of my outstanding performance,
                         I was able to start tutoring two younger students in math and science.
                        <br><br> At our school's NHS chapter, we have participated in numerous community service projects, such as event volunteering, charity sales, and organisational meetings. Throughout the COVID-19 pandemic, we spent time establishing a new leadership 
                        committee and recruiting events, which inspired potential new members to continue volunteer service and leadership activities.
                    </p>
                </div>
            </div>
        </section>

        <!--Photo Gallery-->
        <section class="photoGallery">
            <div class="row">
                <div class="photoGallery-col" style="flex-basis: 45%;">
                    <img src="../static/css/images/NHS/Charity.jpeg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Stephen Lawrence Charity Fundraiser</p>
                    </div>
                </div>
                
                <div class="photoGallery-col" style="flex-basis: 45%;">
                    <img src="../static/css/images/NHS/NHSWork.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Volunteering</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>