<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>NHS</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerSTEM" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}#AchievementAnchor">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                   NHS
                </h1>
                <p>
                    Subtitle
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>

        <!--Description-->
        <section class="summary">
            <div class="row">
                <div class="description-col" style="padding-left: 10%;">
                    <img src="../static/css/images/STEM/Trophy.jpg" alt="Trophy Photo" style="width: 30em;">
                </div>
                <div class="description-col">
                    <p>
                        Explanation of thingy
                    </p>
                </div>
            </div>
        </section>

        <!--Photo Gallery-->
        <section class="photoGallery">
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/profiles/ProfilePicture.jpeg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/backgrounds/DSC_0147.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/NHS/Logo.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/Scouts/Eagles.jpeg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/skills/Calculus.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/Screenshot 2019-12-20 at 14.12.23.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Bottom Text</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>