<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>SATRO</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerSATRO" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}#AchievementAnchor">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                   2020 SATRO Research Program
                </h1>
                <p>
                    
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>

        <!--Description-->
        <section class="summarySATRO">
                    <p>
                        In the summer of 2020 I participated in the "SATRO research programme", where I wrote and presented a research paper on Moore’s law and the architecture and design of superscalar CPUs. 
                        My research included determining which aspects of CPUs actually benefit from a decrease in transistor size, and how that impacts processing speed.
                        This research paper taught me that computer science is much more than just software and programming, but includes much broader fields of study.
                        <br><br> I presented my work to professors at the University of Surrey, who specialised in chip design and research. It was incredibly well received, and if it weren't for the COVID-19, I would have been offered a work placement at their research labs. 
                        <br><br> My presentation and powerpoint are both available for download below, and photos of the powerpoint are available for viewing without download.
                    </p>
        </section>

        <!--Links-->
        <section class="links" id = "LinksAnchor">
            <h1>Download Here</h1>
            <div class="row">
                <div class="links-col">
                    <a href="../static/css/images/SATRO/SATROPaperDanielWilcox.pdf" download>
                        <img src="../static/css/images/Links/Document.png">
                        <div>
                            <h3>"Why Make Transistors Smaller?"</h3>
                            <p>
                                Research Paper (PDF download)
                            </p>
                        </div>
                    </a>
                </div>
                <div class="links-col">
                    <a href="../static/css/images/SATRO/SATROPowerPointDanielWilcox.pptx" download>
                        <img src="../static/css/images/Links/PowerPoint.png">
                        <div>
                            <h3>PowerPoint Presentation</h3>
                            <p>
                                (PPTX download)
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!--Photo Gallery-->
        <section class="photoGallery">
            <h1>PowerPoint Here</h1>
            <div class="row">
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide1.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 1</p>
                    </div>
                </div>
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide2.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 2</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide3.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 3</p>
                    </div>
                </div>
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide4.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 4</p>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide5.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 5</p>
                    </div>
                </div>
                <div class="description-col">
                    <img src="../static/css/images/SATRO/Slide6.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Slide 6</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>