<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "with=device-width, initial-scale=1.0">
        <title>STEM Competition</title>
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <section class = "headerSTEM" id = "HomeAnchor">
            <nav>
                <div class = "nav-links" id = "navLinks">
                    <i class="fa fa-times" onclick = "hideMenu()"></i>
                    <ul>
                        <li>
                            <a href="{{url_for('home')}}#AchievementAnchor">HOME</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick = "showMenu()"></i>
            </nav>
            <!-- Main text box -->
            <!-- Must change header info in CSS-->
            <div class= "text-box">
                <h1>
                    4x4 in Schools Land Rover Competition
                </h1>
                <p>
                    1st Place Prize Winners
                </p>
            </div>
            <div class="smallText">
                <p></p>
            </div>
        </section>

        <!--Description-->
        <section class="summary">
            <div class="descriptionRow">
                <div class="description-col">
                    <img src="../static/css/images/STEM/Win.jpg" alt="">
                    <p>
                        <em>
                            <br>Heather Coyne, Freddie Brett, Andre Horca, Daniel Wilcox, Emma Taylor, Noelle Grau
                        </em>
                    </p>

                </div>
                <div class="description-col">
                    <p>
                        In 2020, I participated in the "4x4 In Schools Land Rover Competition." The aim of the competition is to innovate a new Land Rover car design and build a prototype, which draws heavily on Engineering, applied science, applied mathematics, CAD/CAM, Electronics, financial management and ICT. 
                        The overall process took 5 months, spanning September 2019 to January 2020, where we presented our own design against 26 other teams in the development class.
                        <br><br> As an Eagle Scout in our American Scouting Troop, I already had leadership experience, so I took on the role of Team Leader. I managed communication and organisation, overseeing the work of the other 5 members of our team, while applying my own knowledge and expertise in areas like Arduino programming. 
                        After months of stress and hard work, our team achieved <strong>1st place at the London and Southeast Regional Finals</strong>, and were invited to the National Finals taking place in March. Unfortunately, due to the COVID-19 pandemic, the final competition was cancelled.
                        <br><br> Alongside my role as team leader, I was the sole programmer of our ACES Innovation project in the competition, where I designed a system to analyse and map out a given surrounding environment. Using an Arduino, I was able to gather the 8-bit information sent through a potentiometer into my PC’s serial port 
                        and convert it into radians around a unit circle. From there, combined with the distance sensor and an SDL/Code-Blocks program, I could successfully map out the area surrounding the 
                        sensor by rotating the potentiometer. The idea was to refine it using gyroscopes and accelerometers and attach it to our vehicle with a Raspberry Pi, but the competition was cancelled due to Covid-19 before we ordered the parts.
                    </p>
                    <div class="links-col" style="width: 80%;">
                        <a href="https://github.com/DWilcox02/3D-Mapping-Prototype">
                            <img src="../static/css/images/Links/Github.png" style="width: 40px; margin-left: 0%;">
                            <div>
                                <h3>ACES Innovation</h3>
                                <p>
                                    Github repo for the arduino ACES innovation project
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="links" style="padding-top: 0%; margin: auto;">
            
        </section>

        <!--Photo Gallery-->
        <section class="photoGallery">
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/Electronics.jpeg" alt="">
                    <div class="photoGalleryLayer">
                        <p>The Arduino Electronics in a Prototype Car</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/TeamPhoto.JPG" alt="">
                    <div class="photoGalleryLayer">
                        <p>Our Award-Winning Team</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/Trophy.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Our 1st Place Trophy</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/Diagram.png" alt="">
                    <div class="photoGalleryLayer">
                        <p>Diagram of Our Car</p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/Logo.JPG" alt="">
                    <div class="photoGalleryLayer">
                        <p>
                            The Logo For Our Team, <em>Team Environ</em>
                        </p>
                    </div>
                </div>
                <div class="photoGallery-col">
                    <img src="../static/css/images/STEM/DrivingCar.jpg" alt="">
                    <div class="photoGalleryLayer">
                        <p>Learning to Drive</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>